#carrito {
    margin-top: 80px;
    /*padding-left: 90px;*/
}

.heading {
    margin-bottom: 45px;
}

.contenido {
    text-align: center;
    padding-left: 45%;
    position: absolute;
}

#carrito .contenedorCarrito{
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    /*width: 40rem;*/
    background: #fff;
}



.contenedorCarrito{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.contenedorCarrito img{
    height: 15rem;
    width: 20rem;
    margin-right: 20px;
}

#contenedor {
    margin-top: 13px;
}

.sumar {
    width: 25px;
    height: 25px;
    background: var(--orange);
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.sumar:hover {
   color: var(--light-color);
}

.restar {
    width: 25px;
    height: 25px;
    background: var(--orange);
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.restar:hover {
   color: var(--light-color);
}


#contenedor .cantidad {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-right: 10px;
}

.contenedorCarrito .borrar{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 3rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.contenedorCarrito .borrar:hover{
    color: var(--orange);
}

.contenedorCarrito h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

/*.contenedorCarrito span{
    color: var(--light-color);
    font-size: 1.6rem;
}*/

.contenedorCarrito .cantidad{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}
